### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# *.mp3
.mp3

# *.pdf
.pdf

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# temp files
temp/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

